Repository 2rabs/nito-app, pull requests merged in 2023-05, with the labels that each got.

#181 :+1: 実施日を日時で表示するよう変更
  apps/catalog/pubspec.lock
  apps/frontend/lib/main.dart
  apps/frontend/lib/src/router/router_provider.g.dart
  apps/frontend/pubspec.lock
  apps/frontend/pubspec.yaml
  packages/core/data/lib/src/schedule/offline_first_schedule_repository.dart
  packages/core/model/lib/src/schedule/schedule.dart
  packages/core/model/lib/src/schedule/schedule.freezed.dart
  packages/core/network/lib/src/schedule/model/network_schedule.dart
  packages/core/network/lib/src/schedule/model/network_schedule.freezed.dart
  packages/core/network/lib/src/schedule/model/network_schedule.g.dart
  packages/core/network/lib/src/schedule/supabase_schedule_api.dart
  packages/core/styleguide/lib/core_styleguide.dart
  packages/core/styleguide/lib/src/date_formatter.dart
  packages/core/styleguide/pubspec.yaml
  packages/core/testing/lib/src/repository/test_schedule_repository.dart
  packages/core/ui/lib/src/schedule_card.dart
  packages/core/ui/pubspec.yaml
  packages/feature/auth/example/pubspec.lock
  packages/feature/schedule/example/pubspec.lock
  packages/feature/schedule/lib/src/ui/schedule_list.dart
  packages/feature/settings/example/pubspec.lock
  packages/feature/top/example/pubspec.lock
  packages/feature/top/lib/src/ui/top_page_schedule_tile.dart
  pubspec.lock
Labels: @core/data, @core/model, @core/network, @core/styleguide, @core/testing, @core/ui, @feature/top, @feature/auth, @feature/settings, @feature/schedule

#183 :bug: スケジュール日時にタイムゾーンを付与
  packages/core/data/lib/src/schedule/offline_first_schedule_repository.dart
Labels: bug, @core/data, patch

#186 :sparkles: 仮登録ページとコントローラーを作成
  apps/frontend/lib/src/router/router.dart
  apps/frontend/lib/src/router/router.g.dart
  packages/core/data/lib/core_data.dart
  packages/core/styleguide/lib/src/icon/nito_icons.dart
  packages/feature/auth/example/lib/main.dart
  packages/feature/auth/lib/feature_auth.dart
  packages/feature/auth/lib/src/entrance/provider/entrance_form_controller.dart
  packages/feature/auth/lib/src/entrance/provider/entrance_form_controller.freezed.dart
  packages/feature/auth/lib/src/entrance/provider/entrance_form_controller.g.dart
  packages/feature/auth/lib/src/entrance/ui/entrance_form.dart
  packages/feature/auth/lib/src/entrance/ui/entrance_page.dart
  packages/feature/auth/lib/src/entrance/ui/entrance_page_for_mobile.dart
  packages/feature/auth/lib/src/login/component/align_right_text_bottom.dart
  packages/feature/auth/lib/src/login/login_page.dart
  packages/feature/auth/pubspec.yaml
Labels: @core/data, @core/styleguide, @feature/auth, feature, minor
