Repository 2rabs/nito-app, pull requests merged in 2023-04, with the labels that each got.

#151 :bug: メンバー取得処理の不具合を修正
  packages/core/network/lib/src/member/supabase_member_api.dart
Labels: bug, @core/network, patch

#153 :+1: スケジュール取得に過去日も含めるように変更
  packages/core/data/lib/src/schedule/offline_first_schedule_repository.dart
  packages/core/network/lib/src/schedule/supabase_schedule_api.dart
  packages/feature/schedule/lib/src/ui/schedule_list.dart
Labels: @core/data, @core/network, @feature/schedule

#159 :art: NitoCard コンポーネントを追加
  packages/core/ui/lib/core_ui.dart
  packages/core/ui/lib/src/nito_card.dart
Labels: @core/ui

#158 :sparkles: 新規会員登録用のNetwork部分を作成
  packages/core/network/lib/src/entrance/entrance_api.dart
  packages/core/network/lib/src/entrance/model/network_entrance.dart
  packages/core/network/lib/src/entrance/model/network_entrance.freezed.dart
  packages/core/network/lib/src/entrance/model/network_entrance.g.dart
  packages/core/network/lib/src/entrance/supabase_entrance_api.dart
  packages/core/network/lib/src/network_providers.dart
Labels: @core/network, feature, minor

#164 :+1: スケジュール一覧画面で新しいスケジュールカードを利用するようカイゼン
  packages/core/data/lib/src/schedule/offline_first_schedule_repository.dart
  packages/core/model/lib/src/schedule/schedule.dart
  packages/core/model/lib/src/schedule/schedule.freezed.dart
  packages/core/ui/lib/core_ui.dart
  packages/core/ui/lib/src/schedule_card.dart
  packages/core/ui/pubspec.yaml
  packages/feature/schedule/example/pubspec.lock
  packages/feature/schedule/lib/src/ui/schedule_card.dart
  packages/feature/schedule/lib/src/ui/schedule_list.dart
  packages/feature/schedule/pubspec.yaml
Labels: @core/data, @core/model, @core/ui, @feature/schedule

#166 :+1: NitoScrollBehavior を追加
  apps/frontend/lib/src/app.dart
  apps/frontend/pubspec.lock
  apps/frontend/pubspec.yaml
  packages/core/ui/lib/core_ui.dart
  packages/core/ui/lib/src/nito_scroll_behavior.dart
Labels: @core/ui

#169 :sparkles: 新規会員登録用のData部分を作成
  packages/core/data/lib/src/data_providers.dart
  packages/core/data/lib/src/entrance/entrance_repository.dart
  packages/core/data/lib/src/entrance/entrance_repository.g.dart
  packages/core/data/lib/src/entrance/offline_first_entrance_repository.dart
  packages/core/data/pubspec.yaml
  packages/core/network/lib/core_network.dart
Labels: @core/data, @core/network, feature, minor

#171 :recycle: go_router_builder
  apps/frontend/lib/src/app.dart
  apps/frontend/lib/src/router/router.dart
  apps/frontend/lib/src/router/router.g.dart
  apps/frontend/lib/src/router/router_provider.dart
  apps/frontend/lib/src/router/router_provider.g.dart
  apps/frontend/lib/src/settings/router_settings.dart
  apps/frontend/pubspec.lock
  apps/frontend/pubspec.yaml
  packages/feature/auth/example/pubspec.lock
  packages/feature/schedule/example/pubspec.lock
  packages/feature/settings/example/pubspec.lock
  packages/feature/top/example/pubspec.lock
Labels: @feature/top, @feature/auth, @feature/settings, @feature/schedule, refactor

#172 :green_heart: TestScheduleRepository を追加
  packages/core/testing/lib/core_testing.dart
  packages/core/testing/lib/src/repository/test_schedule_repository.dart
  packages/core/testing/pubspec.yaml
  packages/core/testing/test/core_testing_test.dart
Labels: @core/testing

#174 :recycle: 画面遷移をリファクタリング
  apps/frontend/lib/src/router/router.dart
  apps/frontend/lib/src/router/router_provider.dart
  packages/feature/auth/lib/src/login/component/login_form.dart
  packages/feature/auth/lib/src/login/login_page.dart
  packages/feature/top/lib/src/ui/top_page.dart
Labels: @feature/top, @feature/auth, refactor
